* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
    background: rgb(235, 244, 242);
  }

  button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    transition: 0.25s;
    box-shadow: -20px 20px 60px #75c2d4, 20px -20px 60px #9fffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  form {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 6px 20px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.054);
  }
  input {
    border: 1px solid rgb(235, 244, 242);
    background: rgb(235, 244, 242);
    color: #16d9e7;
    outline: none;
    border-radius: 5px;
    height: 30px;
    margin: 10px 0 5px;
    width: 270px;
    font-size: 1.2rem;
    transition: 0.2s;
  }
  input:focus {
    border: 1px solid #16d9e7;
  }
  #result {
    display: flex;
    flex-wrap: wrap;
    padding-top: 110px;
  }
  #result > li {
    flex: 1 0 25%;
    min-width: 280px;
    /* border: 1px solid #16d9e7; */
    background: white;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.084);
  }
  h2 {
    margin: 6px auto;
    color: #16d9e7;
  }
  p {
    color: #36ca79;
  }
  img {
    width: 100%;
    margin: 10px 0;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.304);
  }
  li > ul > li {
    text-align: left;
  }
  
  .modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  